# Dependencies
node_modules/

# Build output
dist/
static/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*_venv/
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Env files
.env.local
.env.*.local
